<li>
  <div class="d-flex align-items-center gap-2 mb-3">
    <%= image_tag attendee.decorate.avatar, class: 'rounded-circle avatar-md' %>
    <% if @event.user_id == current_user.id %>
      <%= link_to attendee.name, mypage_profile_path %>
    <% else %>
      <%= link_to attendee.name, user_path(attendee) %>
    <% end %>
  </div>
</li>
